.gamePage {
    padding: 100px 0;
}
.fetch {
    display: flex;
    justify-content: space-around;
    border: 2px solid #6056f6;
    border-radius: 15px;
    height: 330px;
    align-items: center;
}

.buttonsAndProgress{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}



.question {
    width: 70%;
}

.pointProgress {
    display: flex;
    flex-direction: column;
    border: 2px solid #6056f6;
    border-radius: 15px;
    padding: 0 10px; 
}

.buttons {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.buttons button {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #6056f6;
    padding: 10px 30px;
    border: 2px solid #6056f6;
    border-radius: 10px;
    margin-top: 10px;
    color: #cfff31;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
}

.buttons button:hover,
.buttons button:focus {
    cursor: pointer;
    transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #cfff31;
    color: #6056f6;
}

.buttons button:active {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #6056f6;
    padding: 10px 30px;
    border: 2px solid #6056f6;
    border-radius: 10px;
    margin-top: 10px;
    color: #cfff31;
    font-weight: bold;
    cursor: pointer;
}
/* * {
    border: 1px solid red;
}  */