body {
    background-color: #e3f4f3;
}

.header {
    height: 10vh;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 35%;
}

.navUl {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;
}

li {
    width: 50%;
    text-align: center;
}

li a {
    cursor: pointer;
    color: #6056f6;
}

 li a:hover, .play:hover,
 li a:focus, .play:focus {
    font-size: 1.1rem;
}

h1 {
    width: 50%;
    text-align: left;
    color: #6056f6;
}

.howToPlay {
    text-align: center;
}

.howToPlay div {
    margin-top: 180px;
    border: 2px solid #6056f6;
    border-radius: 15px;
    height: 330px;
}

p {
    padding: 20px 30px;
}

.play {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-top: 0px;
    background-color: #6056f6;
    padding: 10px 30px;
    border: 2px solid #6056f6;
    border-radius: 10px;
    margin-top: 10px;
    color: #cfff31;
    font-weight: bold;
}


footer {
    text-align: center;
    margin-top: 212px;
    padding: 10px;
    /* border-top: black 2px solid ; */
    background-color: #6056f6;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

