.FormPage h2 {
  padding-top: 100px;
}

.FormPage .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LeaderForm{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

.formStyling {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  
}

.LeaderForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LeaderForm p {
  margin: 0;
}

.LeaderForm form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px #6056f9 solid;
  text-align: center;
  height: 50px;
  margin: 50px;
}

.LeaderForm form input:focus {
  outline: none;
}

.LeaderForm form .userNameInputButton {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-top: 0px;
  background-color: #6056f6;
  padding: 10px 30px;
  border: 2px solid #6056f6;
  border-radius: 10px;
  margin-top: 10px;
  color: #cfff31;
  font-weight: bold;
  cursor: pointer;
}

.LeaderForm form .userNameInputButton:hover,
.LeaderForm form .userNameInputButton:focus {
  cursor: pointer;
  transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #cfff31;
  color: #6056f6;
}


.FormPage p {
  font-size: 3rem;
}

.fadeIn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(yellow, orange);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadeIn.visiable {
  animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(4) rotate(720deg);
    opacity: 0;
  }
}  

.congrats {
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width:1140px) {
  @keyframes fadeIn {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
    }
    30% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%) scale(2.5) rotate(720deg);
      opacity: 0;
    }
  }  
}

@media (max-width:730px) {
  @keyframes fadeIn {
    0% {
      transform: translate(-50%, -50%) scale(0.3);
    }
    30% {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.2) rotate(720deg);
      opacity: 0;
    }
  } 
}